* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    position: absolute;
    opacity: 0;
}
img {
    width: 70vw;
    animation: nim ease-in-out 3s infinite;
    opacity: 0;
    image-rendering: optimizeSpeed;
}
@keyframes nim {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}